@font-face {
  font-family: "Raleway";
  src: url(../vendors/fonts/raleway/Raleway-Light.ttf);
}
/* General */

.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.center-text{
	text-align: center;
}

/* Index */

#index .title{
	text-align: center;
	margin-top: 170px;
	margin-bottom: 30px;
}

#index #github-wrapper{
	width: 40px;
}

#index #github{
	height : 40px;
	width : 40px;
	cursor: pointer;
}

#index .label{
	opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

#index:hover .label{
	opacity: .6;
}

#index .tags{
	display: inline-block;
	background-color: rgb(245, 245, 245);
	padding: 5px 10px 5px 10px;
	cursor: pointer;
}

#index .tags.selected{
	background-color: teal;
}

#index #tags-box{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;	
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
